* {
  /* background-color: #353535; */
  background-color: black;
  margin: 0;
  padding: 0;
}

::-moz-selection { background: #F1C9BC; color:white;}
::selection { background: #F1C9BC; color:white;}

/* in about, highlight email black */
input.blank-select::-moz-selection { background: black; color:black;}
input.blank-select::selection { background: black; color:black;}

@import url("https://use.typekit.net/cdk1utk.css");

:root {
    --white:#F2F2F2;
    --lightgrey:#999999;
    --grey:#808080;
    --darkgrey:#696969;
}

body {
  z-index: 2;  /* make body below everything */

}

.navbar {
  z-index: 1;  /* make navbar on top of everything */
}



a {
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: white;
}

a:link {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}

a:hover {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.05em;
  color: #8F9699;

  /* -webkit-text-stroke: 0.07em black; */
}

a:visited {
}

a:active {
}

hr {
  border: 0;
  clear:both;
  display:inline-flex;
  width: 100%;
  background-color: var(--grey);
  height: 1px;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 4em;
  line-height: 1.5em;
  color: var(--white);
}

h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  overflow: hidden;
  /* background-color: red;
  display: inline-block; */

  font-size: 2em;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  color: var(--white);
}

h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;

  font-size: 1.3em;
  letter-spacing: 0.08em;
  line-height: 1.5em;
  color: var(--white);
}

h4 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;

  font-size: 0.95em;
  letter-spacing: 0.04em;
  line-height: 3em;
  color: var(--white);
}

h5 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;

  font-size: 1em;
  letter-spacing: 0.06em;
  line-height: 1.5em;
  color: var(--grey);
}

p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;

  padding-top: 1em;

  font-size: 1.2em;
  letter-spacing: 0.08em;
  line-height: 1.8em;
  color: var(--lightgrey);
}


@media (max-width: 70em) {
  h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: 2em;
    line-height: 1.5em;
    color: var(--white);
  }

  h2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
    /* background-color: red;
    display: inline-block; */

    font-size: 1.5em;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    color: var(--white);
  }


  h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    font-style: normal;

    font-size: 0.9em;
    letter-spacing: 0.08em;
    line-height: 1.5em;
    color: var(--white);
  }

  h4 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;

    font-size: 0.95em;
    letter-spacing: 0.04em;
    line-height: 3em;
    color: var(--white);
  }

  h5 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    font-style: normal;

    font-size: 1em;
    letter-spacing: 0.06em;
    line-height: 1.5em;
    color: var(--grey);
  }

  p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;

    padding-top: 1em;

    font-size: 0.9em;
    letter-spacing: 0.08em;
    line-height: 1.8em;
    color: var(--lightgrey);
  }

  .spacer {
    height: 3em;
  }

  .smallspacer {
    height: 1em;
  }



}


@media (min-width: 70em) {

  .spacer {
    height: 5em;
  }

  .smallspacer {
    height: 3em;
  }

}





.text-hover {
display:inline-block;
/* color: var(--grey); */
color: var(--grey);
}

.text-hover:hover {
  display:inline-block;
  color: var(--white);
}

.max-intro-width {
  max-width:24em;
}

.max-text-width {
  max-width:23em;
}

.bold {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bold {
  font-weight: 600;
  letter-spacing: 0.04em;
  color: white;
}

.nav-text {
  letter-spacing: 0.04em;
  color: white;
}

.play-header {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 1.6em;
  line-height: 1em;
  color: var(--white);
}

input {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  outline: none;
  border: none;

  font-size: 1em;
  line-height: 1.5em;
  color: var(--black);
}

input:focus {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  outline: none;
  border: none;

  font-size: 1em;
  line-height: 1.5em;
  color: var(--black);
}

button {
  font-size: 1.04em;
  outline: none;
  border: none;
  color: var(--black);
}

button:focus {
  outline: none;
  border: none;
  color: var(--black);
}

.grey {
  color: var(--grey);
}

.footer {
  margin: 0em 2em 3em 2em;
}

.rotate {
  transform: rotate(-20deg);
  position: absolute;

  /* Border is the new background */
  background: none;

  /* Rotate from top left corner (not default) */
  transform-origin: 0 2;

  /* Safari */
  -webkit-transform: rotate(-20deg);

  /* Firefox */
  -moz-transform: rotate(-20deg);

  /* IE */
  -ms-transform: rotate(-20deg);

  /* Opera */
  -o-transform: rotate(-20deg);
}



#collection {
  cursor: pointer;
}

/* invisible  */
#reveal {
  visibility: hidden;
  opacity:0;
  transition: 0.6s;
}

/* original size and position  */
#reveal-image {
  background-position: 50% 50%;
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}

.reveal-story {
  visibility: hidden;
  opacity:0;
  transition: 1s;
}

/* reveal text when hovering over section */
#collection:hover #reveal {
  visibility: visible;
  opacity:1;
}

/* scale and transform image when hovering over whole section */
#collection:hover #reveal-image {
  /* opacity: 0.6; */
  background-position: 50% 55%;
  transform: scale(1.1);
}

#collection:hover .reveal-story {
  visibility: visible;
  opacity:1;
}


/* make image border change when hovering over section */
#collection:hover #item2 {
  /* background-color: #1A1A1A; */
  /* border-radius: 0em 0em 0em 2em; */
  opacity: 1;

}

.top-line {
  border-top: 1px solid red;
}

.line {
  border-top: 1px solid var(--grey);
}

.vertical-line {
  border-left: 1px solid var(--darkgrey);
}

.underline {
  text-decoration: underline;
}


.image-block {
  transition: all 0.3s ease-in-out;
}

.image-block:hover {
  /* border-radius: 0em 0em 0em 2em; */
}

.bg-color {
   background-color: red;
}

.white {
  color: white;
}


/* image width  */
.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

/* HOME PAGE IMAGES */
.image-box {
	width: 100%;
  height: inherit;

	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
}

.top-bottom-padding {
   padding-bottom:1em;
   padding-top: 1em;
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 10em;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 30%;
  margin-left: -2em;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


















/* spacer */
